.header {
  height: 500px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  background: url(/img/hero-new.jpg) no-repeat center center;
  background-size: cover;
  h1 {
    color: #fff;
    font-size: 58px;
    font-weight: 600;
  }
  h2 {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
  }
  @media (max-width: $screen-xs-max) {
    h1 {
      font-size: 38px;
    }
    h2 {
      font-size: 26px;
    }
  }
}

.work {
  padding-top: 40px;
  padding-bottom: 40px;

  h2 {
    margin-bottom: 40px;
    color: #808285;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .gallery div[class*="col-"] {
    padding-right: 3px;
    padding-left: 3px;
  }

  .gallery-image-wrap {
    display: inline-block;
    width: 100%;
    height: 230px;
    overflow: hidden;
  }

  .gallery-image {
    display: inline-block;
    width: 100%;
    height: 230px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover {
      -moz-transform: scale(1.05,1.05);
      -webkit-transform: scale(1.05,1.05);
      transform: scale(1.05,1.05);
    }
  }
  .overlay {
    position: relative;

  }
  .overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  .overlay:hover:after {
    background-color: transparent;
  }


  @media (max-width: $screen-xs-max) {
    h2 {
      font-size: 35px;
    }
  }

}

.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #62b799;

  h2 {
    margin-bottom: 40px;
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
  }

  p {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
  }

  .img-circle {
    border: 4px solid #fff;
  }

  @media (max-width: $screen-sm-max) {
    img {
      margin-bottom: 40px;
    }
  }

  @media (max-width: $screen-xs-max) {
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 20px;
    }
  }
}


.contact {
  padding-top: 40px;
  padding-bottom: 100px;

  h2 {
    margin-bottom: 40px;
    color: #808285;
    font-size: 48px;
    font-weight: 300;
  }

  img {
    max-width: 480px;
    margin-bottom: 20px;
  }

  label {
    color: #62B799;
    text-align: left;
    font-size: 30px;
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
  }

  ::-webkit-input-placeholder {
   font-style: italic;
  }
  :-moz-placeholder {
     font-style: italic;
  }
  ::-moz-placeholder {
     font-style: italic;
  }
  :-ms-input-placeholder {
     font-style: italic;
  }

  @media (max-width: $screen-sm-max) {
    form {
      margin-top: 60px;
    }
  }

  @media (max-width: $screen-xs-max) {
    h2 {
      font-size: 35px;
    }
  }

}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #62b799;

  a {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
  }

  a:hover {
    color: #fff;
  }

  p {
    margin-top: 40px;
    color: #fff;
  }

  @media (max-width: $screen-xs-max) {
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      display: block!important;
    }
  }
}

//Flex align Bootstrap Grid on 992px and up only
@media (min-width: $screen-md-min) {
  .row-flex {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    // Chrome 50 flex bug fix
    // https://github.com/angular/material/issues/6841#issuecomment-182400365
    flex: 0 0 auto;
    width: 100%;
    height: 100% !important;
    min-height: 0;
  }
}

//Thank you page
.thank-you {
  padding-top: 0;
  background: #62b799;

  h1 {
    margin-bottom: 40px;
    color: #fff;
    font-size: 48px;
    font-weight: 300;
  }

  @media (max-width: $screen-xs-max) {
    h1 {
      font-size: 35px;
    }
  }
  .rose img {
    max-width: 100px;
  }
  .site img {
    margin-top: 40px;
    max-width: 300px;
  }
  .etsy img {
    margin-top: 40px;
    max-width: 300px;
  }
}
